* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

/*general shared properties*/
.center {
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}
p, a, .navContainer h5, .navContainer p {
	color: #8b8b8b;
}
h2 {
	padding: 3rem 0;
	font-family: roboto;
	font-size: 2.5rem;
}
section {
	padding: 4.5rem 3rem;
}
.innerContainer {
	margin: 1rem;
}
.green {
	color: #13b15c;
}
.preprOuterContainer, .preprContainer ul, .userContainer, .userContainer a,
.navContainer ul li a, .searchContainer span, .searchContainer, .searchBar ul,
.bellContainer, .exploreSection, footer .textContainer, .preprChallenge {
	display: flex;
}
.innerMainBox, .exploreSection .innerContainer, .imgContainer, 
.infoContainer .shortInfoContainer {
	display: grid;
}
.preprContainer ul, .navContainer ul li a, .searchBar ul {
	flex-direction: row;
}
.userContainer, .userContainer a, .exploreSection, .preprChallenge {
	flex-direction: column;
}
.userContainer, .userContainer a, .exploreSection, footer .textContainer,
.preprChallenge {
	justify-content: center;
}
.preprContainer ul, .searchContainer span, .bellContainer {
	align-items: center;
}
.userContainer h5, .exploreTitle, .preprChallenge {
	text-align: center;
}
.userContainer h5, .featureTextBox h3, .featureTextBox p,
.exploreTextContainer p, .descriptionBox h5, .descriptionBox p,
.submissionBox h5, .submissionBox button {
	font-family: sans-serif;
}
.navContainer h5, .exploreTitle {
	font-family: roboto;
}
.barsContainer .bar, .userContainer h5 {
	color: #727d92;
}
.sideMenuContainer, .showSideMenu, .featureBox figure img,
.exploreSection .imgContainer figure img  {
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
}
.preprOuterContainer, .exploreSection .imgContainer figure img {
	width: 100%;
}
.submissionBox h5, .descriptionBox h5 {
	font-size: 1.5rem;
}
.userContainer h5, .navContainer h5, .searchContainer input, .searchContainer span {
	font-size: 1rem;
}





/*Navigation*/
.barsContainer .bar {
	cursor: pointer;
}
.preprOuterContainer {
	position: fixed;
	z-index: 10;
	padding: 0.5rem;
	justify-content: space-between;
	border-bottom: 1px solid #d8dcdf;
	background: #fff;
}
img.logo {
	width: 60px;
}
.preprContainer ul li {
	padding: 0 1rem;
}

.sideMenuContainer {
	position: fixed;
	top: 56px;
	left: -220px;
	width: 220px;
	background: #fff;
	height: 100vh;
	border-right: 1px solid #d8dcdf;
}
.showSideMenu {
	left: 0;
}
.navUserProfile {
	width: 85px;
	height: 85px;
}
.userContainer a {
	padding: 20px;
}
.userContainer h5 {
	margin-bottom: 1rem;
}
.navContainer h5 {
	padding: .5rem 1rem;
	text-transform: uppercase;
}
.navContainer ul li {
	padding: .5rem 1rem;
}
.navContainer ul li a img {
	padding-right: 1rem;
}
.navContainer p {
	font-size: .875rem;
}

.searchContainer input, .searchContainer span {
	border: 1px solid #dbdfe2;
	border-radius: .25rem;
	padding: .375rem .75rem;
}
.sideContainer li {
	padding: 0 .75rem;
}
.bellContainer {
	color: #cacacb;
}
.userProfile {
	width: 35px;
	height: 35px;
}


/*Featured Challenge Section*/
.featuredChallenge {
	background: #f3f3f3;
	box-shadow: 0 2px 5px #23222233;
}
.featureTextBox {
	margin: 1.5rem;
}
.featureTextBox h3 {
	font-size: 2rem;
}
.featureTextBox p {
	font-size: 1.2rem;
	line-height: 1.5;
	padding: .3rem;
}
.featureBox figure {
	overflow: hidden;
	margin: 0 auto;
	width: fit-content;
	-webkit-fill-available: fit-content;
}
.featureBox figure img:hover {
	transform: scale(1.1);
	opacity: .75;
}
.featureBox figure img {
	border: 1px solid #e8e8e8;
}


/*Explore section*/
.innerMainBox {
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 1fr 25%;
}
.exploreSection .innerContainer {
	grid-template-columns: 60% 40%;
	grid-gap: 20px;
	width: 1000px;
}
.exploreSection {
	margin: 5rem auto;
}
.imgContainer {
	grid-template-columns: 25% 25% 25% 25%;
	margin: 0 auto;
	overflow: hidden;
}
.displayContainer {
	display: block;
}
.hiddenText {
	display: none;
}
.exploreSection .imgContainer figure:first-child {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	padding-bottom: 2.5rem;
}
.exploreSection .imgContainer figure {
	padding: .5rem;
	border: 1px solid #e1e1e1e1;
}
.exploreSection .imgContainer figure img:hover {
	transform: scale(1.1);
	opacity: .75;
}
.exploreSection .imgContainer figure img {
	cursor: pointer;
}
.exploreTitle {
	font-size: 1.75rem;
	padding: 1.5rem .5rem;
}
.exploreTextContainer p {
	font-size: 1.2rem;
	line-height: 1.35;
}

/*Footer Section*/
footer {
	background: #f3f3f3;
}
footer .textContainer a {
	margin: .75rem;
}
.userSupportContainer {
	width: 60px;
	height: 60px;
}


/*Developer Challenge Page*/
.preprImgContainer figure {
	height: 50vh;
	overflow: hidden;
	margin: auto;
}

.shortInfoContainer {
	margin: 3rem 1.5rem;
}
.infoContainer {
	width: 75%;
	margin: 0 auto;
}
.infoContainer .shortInfoContainer {
	grid-gap: 2rem;
	grid-template-columns: 1fr 1fr 1fr;
}
.infoContainer h3 {
	font-family: roboto, sans-serif;
	font-size: 2rem;
	padding: 3rem 1rem;
}
.descriptionBox .iconBox i {
	font-size: 4rem;
}
.descriptionBox h5 {
	font-weight: 500;
	padding: 1rem;
}
.descriptionBox p {
	font-size: 1.2rem;
}
.submissionBox {
	margin: 2.5rem;
}
.submissionBox h5 {
	font-weight: 500;
	padding: .75rem;
}
.buttonBox {
	margin: 1rem .5rem;
}
.submissionBox button:hover {
	background: #f3f3f3;
	color: #13b15c;
	border: 1px solid #13b15c;
}
.submissionBox button {
	width: 150px;
	height: 45px;
	border: none;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
	background: #13b15c;
	font-size: 1.2rem;
}